@import "mapas.less";
@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width:768px) and (max-width: 1023px)";

.margBttm {margin-bottom: 10px;}
.fontSize { font-size: 20px;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #colors[backgroundColor];
    color: #colors[textColor];
}
header {
    padding-bottom: 25px;

    .profile-avatar {
        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
        width: 190px;
        margin-top: 50px;
    }
}
#tituloszinhos{
    text-align: center;
}
li {
    list-style: none;
}
.profile-bio {
    text-align: center;
    &-name {
        font-size: 30px; .margBttm();
    }
    &-subtitle {
        .fontSize(); .margBttm();
    }
    &-description{
        font-size: 15x;
        opacity: 0.8;
        text-align: justify;
        margin: 10px;
        margin-top: 20px;
    }
}
.container {
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    @media @breakpointMobile {
        max-width: 90%;
    }
    @media @breakpointTablet{
        max-width: 80%;
    }
}
.social-link {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;

    li {
        img {
            transition: all ease .3s;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}
.projects-list {
    margin: 50px;
    &-item {
        margin-top: 20px;
        a{
            text-decoration: none;
            background-color: #colors[buttonColor];
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            text-align: center;
            color:rgb(158, 26, 158);
            font-weight: bold;
            border-radius: 30px;
            border: solid 2px #colors[buttonColor];
            transition: all ease .3s;

            &:hover {
                color: #colors[buttonColor];
                background-color: transparent;
            }
        }
    }
}